@font-face {
  font-family: "BerkeleyMono";
  src:
    url("fonts/BerkeleyMono/WEB/BerkeleyMono-Regular.woff"),
    url("fonts/BerkeleyMono/WEB/BerkeleyMono-Regular.woff2"),
    url("fonts/BerkeleyMono/WEB/BerkeleyMono-Bold.woff"),
    url("fonts/BerkeleyMono/WEB/BerkeleyMono-Bold.woff2"),
    url("fonts/BerkeleyMono/WEB/BerkeleyMono-BoldItalic.woff"),
    url("fonts/BerkeleyMono/WEB/BerkeleyMono-BoldItalic.woff2"),
    url("fonts/BerkeleyMono/WEB/BerkeleyMono-Italic.woff"),
    url("fonts/BerkeleyMono/WEB/BerkeleyMono-Italic.woff2");
}

@font-face {
  font-family: "Inter";
  src:
    url("fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
}

@font-face {
  font-family: "Inter Thin";
  src:
    url("fonts/Inter/static/Inter-ExtraLight.ttf");
}

@font-face {
  font-family: "Mandatory Plaything";
  src:
    url("fonts/mandatory-plaything-font/MandatoryPlaything-nRRd0.ttf");
}

html {
  height: 100%;
  max-width: 900px;
  margin: 0 auto;
}

body {
  height: 100%;
  /*margin: 0; */
  font-family: "Inter Thin";
  weight: thin;

  background: #1C1B19;
  /* #1A1918; */
  color: #FCE8C3;
  /* #E8E8E8; */
}

code {
  font-family: "BerkeleyMono", monospace;
}

h1 {
  font-family: "Mandatory Plaything", serif;
}

h2, h3, h4, h5, h6 {
  font-family: "Inter", serif;
  text-transform: uppercase;
}

a {
    color: #FBB829;
}

img {
  margin: auto;
  display: block;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  /* Additional styles for your content */
}

.footer {
    margin-top: 2rem;
    padding: 1rem 2rem;
    letter-spacing: -0.02em;
}

.references tr td:nth-child(1) {
  text-align: right;
  font-family: "BerkeleyMono", monospace;
}

.footnote-ref {
  text-decoration: none;
  color: #0AAEB3;
}

.footnote-backref {
  text-decoration: none;
  color: #0AAEB3;
}
